h1{
    text-align: center;
}
div{
    padding-top: 20px;
    padding-left: 50px;
}

img{
    width:auto;
    height: 100px;
}

button{
    width:auto;
    height: 35px;
}

table{
    display: 'inline-block';
    float:left;
    margin-left: 50px;
    padding: 20px;
}

table caption{
    text-align: center;
}

th{
    text-align: center;
    background-color: palegreen;
    font-weight: bold;
}

td{
    padding:10px;
}
