<div class="container">
    <!--     Enter Search: <input type="text" (blur)="doSearch($event)"><br/> -->

    <!-- Template reference variable -->
    Enter Search: <input type="text" #search (blur)="doSearch(search.value)"><br />

    <div style="width: 890px;float: left;">
        <table border="3px solid black" align="center" class="table">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Product Image</th>
                <th>Category</th>
                <th colspan="3">Actions</th>
            </tr>
            <tr *ngFor="let product of products, let i=index">
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>Rs {{product.price}} /-</td>
                <!-- <td><img src="{{product.imgPath}}" alt='product' /></td> -->
                <!-- <td><img bind-src="product.imgPath" alt='product' /></td> -->
                <!-- [] Property Binding -->
                <td><img [src]="product.imgPath" alt='product' /></td>
                <td>{{product.category}}</td>            
                <td><button [disabled]="!isAdmin">Edit</button></td>
                <!-- *ngIf Structural Directive -->
                <!-- () Event Binding -->
                <td><button *ngIf="isAdmin" (click)="showDetails(product)">Details</button></td>
                <td><app-addtocart [selectedProduct]="product"></app-addtocart></td>
            </tr>
        </table>
    </div>
</div>